# Python
__pycache__/
*.py[cod]
*$py.class
*.spec
dist/
build/
*.egg-info/
.venv/
venv/
ENV/

# Usuario / Local
history.json
*.lnk
*.log

# Android / Gradle
.gradle/
build/
app/build/
local.properties
.idea/
.kotlin/
*.apk
*.aab
*.keystore
*.jks

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
Desktop.ini
.DS_Store
